<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css" />
  <%-include('./inc/head') %>
</head>

<body>
  <%-include('./inc/nav') %>
    <br />
    <section>
      </div>
    </section>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Node Blog Nedir?</h1>
          <p>

            Bu proje tamamen ücretsiz bir şekilde blog yazıları yayınlayabilmenize imkan vermektedir !
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="/about" role="button">Daha Fazla Detay</a>
          </p>
        </div>
      </div>
      <div class="container">
        <main>
          <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
            
            </header>
        
            <div class="p-5 mb-4 bg-light rounded-3">
              
              <% blogs.slice(-3).forEach(blog => { %>
              <div class="container-fluid py-5 ">
                <h1 class="display-5 fw-bold"><%=blog.title%></h1>
                <p class="col-md-8 fs-4"><%=blog.long%></p>
              </div>
              <p>
                <a class="btn btn-primary btn-lg" href="/blog/<%=blog._id%>" role="button"
                  >Yazıyı İncele &raquo;</a
                >
              </p>
              <% }) %>
        
            </div>

          <header class="pb-3 mb-4 border-bottom">
            
          </header>
      
        </main>
    
      </div>
    </main>
    <%-include('./inc/footer') %>
</body>

</html>